.banner {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 223px;
    border-radius: 25px;
    margin-bottom: 38px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}


@media (max-width: 768px) {
    .banner {
        height: 111px;
        border-radius: 10px;
        margin-bottom: 19px;
    }

    .banner::before {
        border-radius: 10px;
    }
}