.collapses_container {
    padding-inline: 108.5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-bottom: 38px;
}

.collapse {
    background-color: #F6F6F673;
    color: black;
    border-radius: 5px;
    width: 1023px;
}

.collapse_header {
    background-color: #FF6060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    height: 54px;
    padding: 0 20px 0 15px;
    color: white;

    p {
        font-size: 24px;
        font-weight: 700;
    }

    .icons {
        cursor: pointer;

        .btn_down {
            transition: transform 0.5s ease;

            &.rotated {
                transform: rotate(180deg);
            }
        }
    }
}

.collapse_description {
    max-height: 0;
    overflow: hidden;
    transition: all 0.8s ease;
    padding-inline: 20px;

    &.open {
        max-height: 500px;
    }

    p {
        color: black;
        font-size: 18px;
        font-weight: 400;
        line-height: 143%;
        padding: 0 20px 20px; 
    }
}

@media (max-width: 768px) {
    .collapses_container {
        padding-inline: 0;
        gap: 20px;
        margin-bottom: 19px;
    }

    .collapse {
        width: 310px;
    }

    .collapse_header {
        height: 30px;
        padding: 10px;

        p {
            font-size: 13px;
        }

        .icons {
            cursor: pointer;
        }
    }

    .collapse_description {

        p {
            font-size: 12px;
            line-height: 143%;
        }
    }
}