.container {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 66px 0 30px;
    gap: 40px;
}

p {
    color: white;
    font-weight: 500;
    font-size: 24px;
}

img {
    width: 122px;
    height: 39.44px;
}

@media (max-width: 768px) {
    .container {
        padding: 66px 122px 58px;
        gap: 10px;
    }

    p {
        font-size: 12px;
    }
}